<header class="flex justify-between max-container px-10 max-lg:px-2 ">
  <div>
    {% if section.settings.image0 != blank  %}
      <a href="/" id="image0">
        <img 
          class="mt-1"
          width="120"
          height="70"
          loading="lazy"
          src="{{ section.settings.image0 | image_url }}"
        />
      </a>
    {% else %}
      <a href="/" id="image0">
        <img 
          class="mt-1"
          width="120"
          height="70"
          loading="lazy"
          src="{{ 'nike.png' | asset_url}}"
        />
      </a>
    {% endif %}

  </div>
    <ul class="flex justify-center gap-8 items-center max-md:hidden  ">

      {% for link in linklists['main-menu'].links %}
        <li class="text-black text-lg  "> {{  link.title | link_to: link.url  }} </li>
      {%  endfor %}
    </ul>

  <div class="flex justify-center gap-4 items-center max-lg:gap-2 ">


      <div class="bg-transparent rounded-full h-[50px] w-[50px] shadow-md cursor-pointer transition-transform duration-300 transform hover:scale-110 flex justify-end items-end max-md:block hidden" >
        <a class="flex justify-center items-center  ">
          <img 
            width="22"
            height="22"
            loading="lazy"
            class="mt-4"
            src="{{ 'hamburger.png' | asset_url }}" >
        </a>
      </div>

    {% if section.settings.search %}
      <a id="search" href="/" class="bg-transparent rounded-full h-[50px] w-[50px] relative shadow-md cursor-pointer transition-transform duration-300 transform hover:scale-110 flex justify-center items-center max-md:hidden ">
        <img 
          width="20"
          height="20"
          loading="lazy"
          src="{{ 'search.png' | asset_url }}" >
      </a>
    {% endif %}

    {% if section.settings.account %}
      <a id="account" href="/" class="bg-transparent rounded-full h-[50px] w-[50px] relative shadow-md cursor-pointer transition-transform duration-300 transform hover:scale-110 flex justify-center items-center max-md:hidden " >
        <img 
          width="20"
          height="20"
          loading="lazy"
          src="{{ 'acc.png' | asset_url }}" >
      </a>
    {% endif %}


    {% if section.settings.shop %}
      <a id="shop" href="/" class="bg-transparent rounded-full h-[50px] w-[50px] relative shadow-md cursor-pointer transition-transform duration-300 transform hover:scale-110 flex justify-center items-center  " >
        <img 
          width="30"
          height="30"
          loading="lazy"
          src="{{ 'buy.png' | asset_url }}" >
      </a>
    {% endif %}

  </div>
</header>