{%- if section.settings.show_announcement -%}
  <section>
    <div class="announcement-bar w-full flex justify-center items-center h-[30px] " id="background" style="background: {{ section.settings.background }}; color: {{ section.settings.text_announcement }};">
      <h1 class="text-center text-gray-300 " id="announcement_text" >{{ section.settings.announcement_text }}</h1>
    </div>
  </section>

  <style>
    .announcement-bar {
      background: {{ section.settings.background }};
      color: {{ section.settings.text_announcement }};
    }
  </style>

  <script></script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#D1CDCD"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Text",
      "default": "Free Shipping"
    }
  ]
}
{% endschema %}
